body{
  font-family: 'Alice', Arial;
  margin: 0;
  padding: 0;
}

body, html {
  height: 100%;
}

@font-face {
  font-family: "Alice";
  src: url("Alice.ttf");
}

@font-face {
  font-family: "Lato";
  src: url("Lato.ttf");
}